<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
	<title>Information Extraction</title>

	<!-- Bootstrap -->
	<link href="/css/bootstrap.min.css" rel="stylesheet">

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
	<script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	<script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container"><!-- 容器开始 -->
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/">Information Extraction</a>
		</div>

		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li class="active"><a href="/">Home</a></li>
				<li id='update'><a>Update Now</a></li>
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Origin
						Sites<span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">
						<li><a href="http://www.51job.com/">前程无忧</a></li>
						<li><a href="http://www.zhaopin.com/">智联招聘</a></li>
						<li><a href="http://sh.ganji.com/zhaopin/">赶集招聘</a></li>
					</ul>
				</li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="https://github.com/dcjin/crawler" target="_blank">View Source Code</a></li>
			</ul>
		</div>
	</div>
	<!-- 容器结束 -->
</nav>
<div class="jumbotron">
	<div class="container">
		<h2>Hello, 这是个查询招聘信息的小站</h2><br>

		<p>这里收录了前程无忧、智联、赶集三家网站近期的招聘信息。主要收集的是杭州地区实习方向的招聘信息。</p>
	</div>
</div>
<div class="container">
	<table class="table table-striped">
		<thead>
		<tr>
			<th>Job</th>
			<th>Company</th>
			<th>Nature</th>
			<th>Size</th>
			<th>Experience</th>
			<th>Degree</th>
			<th>Address</th>
			<th>Date</th>
		</tr>
		</thead>
		<tbody>
		<% info.result.forEach(function (item) { %>
		<tr>
			<td><a href="<%= item.jobLink %>"><%= item.job %></a></td>
			<td><a href="<%= item.companyLink %>"><%= item.company %></a></td>
			<td><%= item.companyNature %></td>
			<td><%= item.companySize %></td>
			<td><%= item.experience %></td>
			<td><%= item.degree %></td>
			<td><%= item.address %></td>
			<td><%= item.time %></td>
		</tr>
		<% }) %>
		</tbody>
	</table>
</div>
<div class="container">
	<nav>
		<ul class="pagination">
			<li>
				<a href='/page/1' aria-label="Previous">
					<span aria-hidden="true">&laquo;</span>
				</a>
			</li>
			<li>
				<a<%= info.now == 1 ? '' : ' href=/page/' + (+info.now - 1) %> aria-label="Previous">
					<span aria-hidden="true">prev</span><!--&lt;-->
				</a>
			</li>
			<% for (var i = info.startNo; i <= info.endNo; i++) { %>
			<li class="<%= info.now == i ? 'active' : '' %>"><a href="/page/<%= i %>"><%= i %></a></li>
			<% } %>
			<li>
				<a<%= info.now == info.totalPage ? '' : ' href=/page/' + (+info.now + 1) %> aria-label="Next">
					<span aria-hidden="true">next</span><!--&gt;-->
				</a>
			</li>
			<li>
				<a href='/page/<%= info.totalPage %>' aria-label="Next">
					<span aria-hidden="true">&raquo;</span>
				</a>
			</li>
		</ul>
	</nav>
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/js/bootstrap.min.js"></script>
<!-- main.js -->
<script src="/js/main.js"></script>
</body>
</html>